/*
 Theme Name: ASAP Translate
 Theme URI: https://bitbucket.org/parenthesis/asap-translate-wp-theme
 Description: Custom child theme of Zerif Lite.
 Author: Parenthesis Tech
 URI: https://parenthesis.io/
 Template: zerif-lite
 Version: 0.1
 Text Domain: asaptranslate
 */

 .gf_readonly input {
 	border: transparent !important;
 }

 .navbar-inverse .navbar-nav>li>a {
 	color: #7e7e7e !important;
 }

 .btn a {
 	display: inline-block !important;
 	padding: 6px 12px !important;
 	margin-bottom: 0;
 	font-size: 14px;
 	font-weight: 400;
 	line-height: 1.42857143 !important;
 	text-align: center;
 	white-space: nowrap;
 	vertical-align: middle;
 	-ms-touch-action: manipulation;
 	touch-action: manipulation;
 	cursor: pointer;
 	-webkit-user-select: none;
 	-moz-user-select: none;
 	-ms-user-select: none;
 	user-select: none;
 	background-image: none;
 	border: 1px solid transparent;
 	border-radius: 4px;
 }

 .order-now a {
 	color: #fff !important;
 	background-color: #3f8000;
 	border-color: #3f8000;
 }

 .order-now a:hover {
 	background-color: #3f8000 !important;
 }

 #menu-item-134 a {
 	color: #fff !important;
 }

 #menu-item-134 {
 	margin-top: 14px;
 }

 .header-content-wrap h2 {
 	margin-bottom: 0;
 	font-size: 30px;
 	font-weight: 400;
 }

 .header-content-wrap .green-btn,
 .about-us .green-btn,
 .blue-bg-header .green-btn {
 	font-weight: 700;
 	font-size: 29px;
 	text-shadow: 0px 2px #2c5900;
 	background: #3f8000;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	background-position: 0px 0px, 100% 0;
 	background-repeat: no-repeat;
 	-webkit-background-size: 3px 100%;
 	-moz-background-size: 3px 100%;
 	background-size: 3px 100%;
 	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
 	background-image: -webkit-linear-gradient(top, #67a812 0%, #3f8000 100%), -webkit-linear-gradient(top, #67a812 0%, #3f8000 100%);
 	background-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
 	background-image: -o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
 	background-image: linear-gradient(to bottom, #67a812 0%, #3f8000 100%), linear-gradient(to bottom, #67a812 0%, #3f8000 100%);
 	border-top: 3px solid #67a812;
 	border-bottom: 3px solid #3f8000;
 	border-radius: 25px;
 	border-radius: 8px;
 }

 .header-content-wrap .green-btn:hover,
 .about-us .green-btn:hover,
 .blue-bg-header .green-btn:hover {
 	background: #3f8000;
 	background-position: 0px 0px, 100% 0;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	background-position: 0px 0px, 100% 0;
 	background-repeat: no-repeat;
 	-webkit-background-size: 3px 100%;
 	-moz-background-size: 3px 100%;
 	background-size: 3px 100%;
 	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
 	background-image: -webkit-linear-gradient(top, #67a812 0%, #3f8000 100%), -webkit-linear-gradient(top, #67a812 0%, #3f8000 100%);
 	background-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
 	background-image: -o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
 	background-image: linear-gradient(to bottom, #67a812 0%, #3f8000 100%), linear-gradient(to bottom, #67a812 0%, #3f8000 100%);
 	border-top: 3px solid #67a812;
 	border-bottom: 3px solid #3f8000;
 	border-radius: 8px;
 }

 .gov-logos-wrapper {
 	margin-top: 13px;
 }

 .header-content-wrap {
 	padding: 110px 0 80px !important;
 }

 #focus {
 	padding-top: 35px;
 }

 #focus .section-header h2 {
 	padding: 0 .4em;
 }

 .vc_separator {
 	display: flex;
 	-webkit-box-orient: horizontal;
 	-webkit-box-direction: normal;
 	-webkit-flex-direction: row;
 	-ms-flex-direction: row;
 	flex-direction: row;
 	-webkit-flex-wrap: nowrap;
 	-ms-flex-wrap: nowrap;
 	flex-wrap: nowrap;
 	-webkit-box-align: center;
 	-webkit-align-items: center;
 	-ms-flex-align: center;
 	align-items: center;
 }

 .vc_separator .vc_sep_holder {
 	height: 1px;
 	position: relative;
 	-webkit-box-flex: 1;
 	-webkit-flex: 1 1 auto;
 	-ms-flex: 1 1 auto;
 	flex: 1 1 auto;
 	min-width: 10%;
 }

 .vc_separator.vc_sep_color_grey .vc_sep_line {
 	border-color: #ebebeb;
 }

 .vc_separator .vc_sep_holder .vc_sep_line {
 	height: 1px;
 	border-top: 14px solid #cccccc;
 	display: block;
 	position: relative;
 	top: -7px;
 	width: 100%;
 }

 .vc_separator h2 {
 	line-height: 1em;
 	font-size: 100%;
 	margin: 0 !important;
 	word-wrap: break-word;
 	-webkit-box-flex: 0;
 	-webkit-flex: 0 1 auto;
 	-ms-flex: 0 1 auto;
 	flex: 0 1 auto;
 	text-transform: capitalize !important;
 }

 .uscis-acceptance,
 .get-documents,
 .bolderish {
 	font-family: 'Montserrat', Helvetica, sans-serif;
 	font-size: 30px;
 	color: #FFF;
 	line-height: 35px;
 	text-transform: uppercase;
 }

 .uscis-acceptance,
 .get-documents {
 	display: block;
 }

 .uscis-acceptance {
 	margin-bottom: 5px;
 }

 .get-documents {
 	margin-top: 30px;
 }

 .bolderish {
 	font-weight: 700;
 }

 .headline,
 .sub-headline {
 	text-transform: uppercase;
 	display: block;
 	color: #7e7e7e;
 }

 .headline {
 	font-weight: 700;
 	font-size: 20px;
 }

 #focus img.hire-us-icon {
 	float: left;
 }

 #focus .bottom-space {
 	margin-bottom: 60px;
 }

 .sub-headline {
 	padding-left: 60px;
 	font-size: 13px;
 	margin-top: -10px;
 }


 @media (min-width: 992px) {
 	#focus .col-md-4,
 	.page-template-template-certified-translation .col-md-4 {
 		padding-left: 30px;
 		padding-right: 30px;
 	}
 }

 .customers-say {
 	font-size: 40px;
 	margin-bottom: 30px;
 	text-align: center;
 	color: #646464;
 	font-weight: 400;
 }

 .testimonial-box {
 	background-color: #6f7c7d;
 	border-radius: 8px;
 	display: table;
 	table-layout: fixed;
 	padding: 20px;
 	min-height: 160px;
 }

 .testimonial-box p {
 	display:inline-block;
 	width: 70%;
 	vertical-align:middle;
 	text-align: left;
 	display:table-cell;
 	font-size: 15px;
 	color: #626262;
 	padding-right: 20px;
 }

 .testimonial-box img {
 	border: 4px solid #ffffff;
 	border-radius: 12px;
 	display:inline-block;
 	vertical-align:middle;
 	display:table-cell;
 }

 .testimonial-box p:before {
 	content: "";
 	background-image: url(/wp-content/uploads/2016/06/quotemark-open.png);
 	height: 17px;
 	width: 19px;
 	display: inline-block;
 }

 .testimonial-box p:after {
 	content: "";
 	background-image: url(/wp-content/uploads/2016/06/quotemark-close.png);
 	height: 17px;
 	width: 19px;
 	display: inline-block;
 }

 span.paragraph {
 	color: #fff;
 	padding: 0 20px;
 	-webkit-box-decoration-break: clone;
 	box-decoration-break: clone;
 }

 .about-us,
 .our-team {
 	padding-top: 0 !important;
 }

 #aboutus h2 {
 	font-size: 40px;
 	float: right;
 	padding-top: 15px;
 }

 .about-us .section-header {
 	padding-bottom: 60px;
 }

 .about-us .column {
 	margin-bottom: 70px;
 }

 .about-us .green-btn {
 	float: left;
 	font-size: 22px;
 	padding: 5px 60px;
 	text-shadow: none;
 }

 #team .team-box,
 .page-id-14 .gform_drop_instructions,
 /*#footer,*/
 .page-id-14 .gfield_required,
 .page-id-14 .gform_card_icon_container,
 .page-id-14 .ginput_card_security_code_icon {
 	display: none !important;
 }

 .our-team {
 	background: #d1d1d1 !important;
 	padding-bottom: 100px !important;
 }

 .our-team p {
 	color: #646464;
 }

 .footer-logos table,
 .footer-logos td {
 	border: none;
 	margin-top: -10px;
 }

 .footer-logos img {
 	max-width: none;
 }

 .page-template-template-certified-translation .btn a {
 	padding: 8px 22px !important;
 	font-size: 18px;
 	font-weight: 700;
 }

 .page-template-template-certified-translation #menu-item-134 {
 	margin-top: 10px;
 }

 .page-template-template-certified-translation .entry-content {
 	margin: 0;
 }

 .blue-bg-header {
 	background: #d4e2f0;
 }

 @media (min-width: 1200px) {
 	.page-template-template-certified-translation .container {
 		width: 1200px;
 	}
 }

 .page-template-template-certified-translation .get-documents,
 .page-template-template-certified-translation .bolderish {
 	text-transform: inherit;
 	font-size: 20px;
 	color: #6b6b6b;
 }

 .page-template-template-certified-translation .get-documents {
 	padding: 0 75px;
 }

 .blue-bg-header {
 	color: #6b6b6b;
 	width: 100vw !important;
 	position: relative;
 	margin-left: -50vw !important;
 	left: 50%;
 }

 .about-us {
 	background: #2b2725 !important;
 }
 
 .blue-bg-header .green-btn {
 	text-transform: uppercase;
 	font-size: 22px;
 }

 .blue-bg-header .left-content-wrapper {
 	padding: 120px 0;
 }

 .blue-bg-header h1 {
 	font-size: 40px;
 	font-weight: 100;
 }

 .blue-bg-header .get-documents,
 .blue-bg-header .buttons {
 	margin-top: 26px;
 	line-height: 15px;
 }

 .blue-bg-header .get-documents h2 {
 	font-size: 20px;
 	font-weight: 400;
 	margin: 0;
 	line-height: 15px;
 }

 .blue-bg-header .buttons {
 	margin-bottom: 26px;
 }

 .blue-bg-header .right-content-wrapper {
 	padding-top: 92px;
 	padding-bottom: 20px;
 }

 .blue-bg-header .right-content-wrapper ul li,
 .popup-left-col ul li {
 	background: url('images/checkbox.png') no-repeat left top;
 	padding: 2px 0px 35px 35px;
 	list-style: none;
 	margin: 0;
 }

 .blue-bg-header .right-content-wrapper ul li h3 {
 	font-weight: 700;
 	margin-bottom: 20px;
 	font-size: 26px;
 }

 .blue-bg-header .right-content-wrapper ul li span {
 	font-size: 17px;
 }

 .page-template-template-certified-translation .why-hire-us {
 	margin-top: 40px;
 	padding-bottom: 60px;
 }

 .page-template-template-certified-translation .why-hire-us h2 {
 	padding: 0 .4em;
 }

 .page-template-template-certified-translation .bottom-space {
 	margin-bottom: 60px;
 	text-align: center;
 }

 .page-template-template-certified-translation img.hire-us-icon {
 	float: left;
 }

 .page-template-template-certified-translation .our-team {
 	background: #e8eff7 !important;
 }

 .page-template-template-certified-translation .about-us {
 	background: #3e5b95 !important;
 }

 .page-template-template-certified-translation .about-us h2 {
 	font-weight: 100;
 }

 .page-template-template-certified-translation .about-us .green-btn {
 	color: #3e5b95 !important;
 	background: #deff00;
 	border-top: none;
 	border-bottom: none; 
 }

 .page-template-template-certified-translation .testimonial-box {
 	background-color: #d4e2f0;
 }

 .testimonial-author {
 	line-height: 3;
 	margin-left: 40px;
 }

 .page-template-template-certified-translation .testimonial-box span.paragraph {
 	color: #646464;
 }

 .languages-and-docs {
 	color: #646464;
 	padding: 80px 0;
 	-webkit-box-shadow: inset 0px 0px 80px 20px rgba(233,233,233,1);
 	-moz-box-shadow: inset 0px 0px 80px 20px rgba(233,233,233,1);
 	box-shadow: inset 0px 0px 80px 20px rgba(233,233,233,1);
 	margin-bottom: 60px;
 	width: 100vw !important;
 	position: relative;
 	margin-left: -50vw !important;
 	left: 50%;
 }

 .languages-and-docs .col-md-6 {
 	padding-left: 70px;
 }

 .languages-and-docs .quad-col-list {
 	-moz-column-count: 4;
 	-moz-column-gap: 2.5em;
 	-webkit-column-count: 4;
 	-webkit-column-gap: 2.5em;
 	column-count: 4;
 	column-gap: 2.5em;
 }

 .languages-and-docs .double-col-list {
 	-moz-column-count: 2;
 	-moz-column-gap: 2.5em;
 	-webkit-column-count: 2;
 	-webkit-column-gap: 2.5em;
 	column-count: 2;
 	column-gap: 2.5em;
 	color: #789de1;
 }

 .languages-and-docs .double-col-list strong {
 	color: #21252b;
 }

 .languages-and-docs ul {
 	margin-left: 20px;
 	line-height: 1.8;
 	list-style: none;
 }

 .languages-and-docs h2 {
 	text-transform: uppercase;
 	font-weight: 400;
 }

 .languages-and-docs li:before {    
 	font-family: 'FontAwesome';
 	content: '\f105';
 	margin:0 5px 0 -15px;
 	color: #d2ced3;
 }

 .about-us .start-order img {
 	padding-top: 8px;
 }

 ul.nav > li.current_page_item > a:before, ul.nav > li.current-menu-item > a:before {
 	background: inherit !important;
 }

 .page-id-14 table,
 .page-id-14 td {
 	border: 0;
 	text-align: center;
 }

 .page-id-14 div#main-nav .container { 
 	width: 292px;
 }

 .page-id-14 .site-content {
 	background-color: #f6f6f6; 
 }


 .page-id-14 #field_1_24,
 .page-id-14 #field_1_25,
 .page-id-14 #field_1_26,
 .page-id-14 #field_1_28 {
 	padding-right: 0;
 	margin-right: 0;
 	margin-top: 130px;
 	border-bottom: none;
 }

 .page-id-14 .entry-header h1,
 .page-id-14 #field_1_24 h2.gsection_title,
 .page-id-14 #field_1_25 h2.gsection_title,
 .page-id-14 #field_1_26 h2.gsection_title,
 .page-id-14 #field_1_28 h2.gsection_title {
 	margin: 5px 0 10px;
 	padding-bottom: 5px;
 	color: #373c40;
 	font-size: 25px;
 	line-height: 36px;
 	font-weight: 400;
 	text-align: center;
 	letter-spacing: 2px;
 	text-transform: uppercase;
 }

 .page-id-14 .entry-title:after,
 .page-id-14 .entry-title:before {
 	right: 0;
 	background: #737c84;
 	width: 35px;
 }

 .page-id-14 .container {
 	max-width: 550px;
 	padding-right: 0;
 	padding-left: 0;
 }

 .page-id-14 .gsection_description,
 .page-id-14 #field_1_2 .gfield_description,
 .page-id-14 #field_1_4 .gfield_description,
 .page-id-14 #field_1_8 .gfield_description,
 #gform_wrapper_7 ul.gform_fields li.gfield,
 .page-id-14 .gform_wrapper ul.gform_fields li.gfield {
 	padding-right: 0 !important;
 }

 .page-id-14 .gsection_description p {
 	text-align: center;
 	margin: 14px 0 5px;
 	padding: 0;
 	color: #818181;
 	font-size: 15px;
 	line-height: 24px;
 	font-weight: 300;
 }


 .page-id-14 .gform_wrapper .gform_fileupload_multifile .gform_drop_area {
 	border: none;
 	text-align: left;
 	padding-left: 0;
 }

 .page-id-14 .gform_wrapper .gform_fileupload_multifile .gform_drop_area input[type="button"] {
 	text-transform: none;
 	background-color: #18a5d0;
 	border: none !important;
 	font-size: 20px;
 }

 .page-id-14 #field_1_25 h2,
 .page-id-14 #field_1_26 h2 {
 	margin: 70px 0 10px !important;
 }

 .page-id-14 #input_1_3,
 .page-id-14 #input_1_4,
 .page-id-14 #input_1_9_6,
 .page-id-14 #input_1_8_2_month,
 .page-id-14 #input_1_8_2_year,
 .page-id-14 #input_1_5 {
 	display: block;
 	width: 100%;
 	height: 38px;
 	padding: 8px 12px;
 	margin-bottom: 10px;
 	font-size: 14px;
 	line-height: 1.428571429;
 	color: #555555;
 	vertical-align: middle;
 	background-color: #ffffff;
 	border: 1px solid #cccccc;
 }

 .page-id-14 #field_1_4 hr {
 	margin-top: 55px;
 }

 .page-id-14 #field_1_26 {
 	margin-bottom: 0;
 }

 .page-id-14 #field_1_10 {
 	margin-top: 0;
 }

 .page-id-14 input[type="text"],
 .page-id-14 #input_1_13 {
 	margin-bottom: 20px;
 	border-style: none none solid;
 	border-bottom-width: 1px;
 	border-bottom-color: white;
 	border-radius: 2px;
 	background-color: #efefef;
 	box-shadow: rgba(204, 204, 204, 0.29) 0px 1px 0px 0.5px inset;
 	color: #444;
 	display: block;
 	width: 100%;
 	height: 38px;
 	padding: 8px 12px;
 	font-size: 14px;
 	line-height: 1.428571429;
 	vertical-align: middle;
 	/*border: none !important;*/
 }

 .page-id-14 #input_1_13 {
 	height: inherit;
 	border: 1px solid #ccc;
 }

 .page-id-14 #field_1_10 .gfield_description {
 	font-size: 14px;
 }

 .page-id-14 #field_1_16,
 .page-id-14 #field_1_11 {
 	margin-top: 45px !important;
 }


 .page-id-14 #field_1_27 {
 	margin-top: 80px !important;
 	margin-right: 0;
 	text-align: center;
 	border-bottom: none;
 	margin-bottom: 0;
 	padding-bottom: 0;
 }

 .page-id-14 #field_1_27 strong {
 	margin-right: 15px;
 }

 .page-id-14 #input_1_9_6,
 .page-id-14 #input_1_8_2_month,
 .page-id-14 #input_1_8_2_year {
 	background-color: #efefef;
 	padding: 0;
 	display: inline-block;
 }

 .page-id-14 #field_1_8 .gfield_description,
 .page-id-14 #field_1_15,
 .page-id-14 #field_1_13 {
 	margin-top: 60px;
 }

 .page-id-14 #field_1_8 .secure-logos,
 .page-id-14 #field_1_13 {
 	border-bottom: 2px solid #CCC;
 	padding-bottom: 35px;
 	text-align: center;
 }

 .page-id-14 #field_1_28 {
 	margin-top: 90px !important;
 	margin-bottom: 35px;
 }

 .page-id-14 #field_1_15 .ginput_container_radio {
 	margin-top: 10px;
 }

 .page-id-14 #field_1_15 .gfield_radio li label {
 	font-weight: 700;
 }

 .page-id-14 .gform_footer.top_label {
 	float: right;
 	margin: -55px 0 0 0;
 }

 .page-id-14 #field_1_7 {
 	width: 200px;
 	text-align: center;
 }

 .page-id-14 #field_1_7 span.ginput_total {
 	color: #000;
 }

 .page-id-14 #gform_submit_button_1:hover {
 	background-color: #373c40;
 }

 .page-id-14 #gform_submit_button_1 {
 	margin-right: 0;
 	padding: 11px 110px 10px 110px;
 	border-radius: 5px;
 	background-color: #22a966;
 	font-size: 13px;
 }

 .page-id-14 #footer .container {
 	max-width: inherit;
 }

 #footer {
 	padding-top: 30px;
 }

 .page-id-14 #footer {
 	text-align: left;
 	color: #444444;
 }


 .page-id-14 .footer_copyright {
 	display: inline-block;
 	padding-left: 14px;
 	color: #8c949c;
 	font-size: 12px;
 }

 .page-id-14 .footer-address {
 	font-size: 14px;
 }

 #menu-footer-menu {
 	margin-left: 0;
 	margin-bottom: 10px;
 	font-size: 15px;
 }

 .page-id-14 #menu-footer-menu .menu-item a {
 	color: #0000ee !important;
 	text-decoration: underline;
 }

 .home #menu-footer-menu .menu-item a {
 	color: #7e7e7e;
 }

 #footer p,
 #menu-footer-menu .menu-item a {
 	color: #646464;
 }

 #menu-footer-menu > li {
 	display: inline;
 }

 #menu-footer-menu li:last-child span.pipe {
 	display: none;
 }

 #footer td,
 #footer table {
 	border-top: none;
 	border-bottom: none;
 }

 .page-id-14 #field_1_8 .secure-logos {
 	text-align: center;
 }

 .page-id-14 #field_1_8 .secure-logos img.paypal-payments-logo {
 	width: 190px;
 }

 #pum_popup_title_293 {
 	text-align: center;
 	text-transform: uppercase;
 	font-weight: 700;
 	margin-top: 8px;
 	margin-bottom: 35px;
 }

 .popup-left-col ul {
 	margin-left: 0;
 	margin-bottom: 0;
 }

 .popup-left-col ul li {
 	padding-bottom: 30px;
 	font-size: 18px;
 }

 .popup-left-col p {
 	text-align: center;
 }

 .popup-left-col button a {
 	color: #fff;
 	font-size: 22px;
 	font-weight: 700;
 }

 .popup-left-col button {
 	background-color: #3f8000;
 	padding: 6px 35px 6px 35px;
 	border-radius: 8px;
 }

 #field_7_1,
 #gform_wrapper_7,
 #input_7_1,
 #field_7_2,
 #field_7_2 .ginput_container {
 	margin-top: 0;
 }

 #field_7_3 .ginput_container {
 	margin-top: 5px;
 }

 #field_7_3 {
 	margin-top: 8px;
 }

 #field_7_1 label,
 #field_7_2 label,
 #field_7_3 label {
 	font-weight: 500;
 	font-size: 20px;
 }

 #field_7_2 label {
 	margin-bottom: 3px;
 }

 #gform_wrapper_7 .gfield_required {
 	color: #646464;
 }

 #gform_wrapper_7.gf_browser_chrome input:not([type=radio]):not([type=checkbox]):not([type=submit]), 
 #gform_wrapper_7.gf_browser_chrome select, 
 #gform_wrapper_7.gf_browser_chrome textarea {
 	border: 3px solid #ccc;
 	border-radius: 5px;
 }


 #field_7_4 input[type="checkbox"]:checked + label::after {
 	content: '';
 	position: absolute;
 	width: 1.4ex;
 	height: 0.7ex;
 	background: rgba(0, 0, 0, 0);
 	top: 1ex;
 	left: 0.4ex;
 	border: 3px solid #505050;
 	border-top: none;
 	border-right: none;
 	-webkit-transform: rotate(-45deg);
 	-moz-transform: rotate(-45deg);
 	-o-transform: rotate(-45deg);
 	-ms-transform: rotate(-45deg);
 	transform: rotate(-45deg);
 }

 #field_7_4 input[type="checkbox"] {
 	line-height: 2.1ex;
 }

 #field_7_4 input[type="radio"],
 #field_7_4 input[type="checkbox"] {
 	position: absolute;
 	left: -999em;
 }

 #field_7_4 input[type="checkbox"] + label {
 	position: relative;
 	overflow: hidden;
 	cursor: pointer;
 }

 #field_7_4 input[type="checkbox"] + label::before {
 	content: "";
 	display: inline-block;
 	vertical-align: -10%;
 	height: 2ex;
 	width: 2ex;
 	background-color: white;
 	border: 2px solid #ccc;
 	border-radius: 4px;
 	margin-right: 0.5em;
 }

 #gform_7 input[type="submit"] {
 	background-color: #3e5b95 !important;
 	font-weight: 700;
 	font-size: 18px;
 	padding: 6px 20px 5px 20px;
 	border-radius: 6px;
 }

 #gform_wrapper_7 .gform_footer {
 	text-align: center;
 	margin-top: 0;
 }

 .popup-right-col {
 	padding-right: 0;
 }

 /* Smartphones (portrait and landscape) ----------- */
 @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

 	.green-btn {
 		font-size: 18px !important;
 	}

 	.header-content-wrap {
 		padding: 50px 0 80px !important;
 	}

 	.testimonial-box p {
 		display: inherit;
 		width: inherit;
 		margin-top: 20px;
 	}

 	.testimonial-box img {
 		display: block;
 		margin: auto;
 	}

 	.testimonial-box {
 		margin-bottom: 20px;
 	}

 	.about-us .row {
 		margin-left: 0 !important;
 		margin-right: 0 !important;
 	}

 	#aboutus h2 {
 		float: none;
 		padding-top: 0;
 	}

 	.about-us .green-btn {
 		float: none;
 	}

 	#footer .col-md-2 {
 		margin-bottom: 15px;
 	}

 	#footer .col-md-2 img {
 		display: block;
 		margin: auto;
 	}

 	#focus .bottom-space {
 		margin-bottom: 0;
 	}

 	#focus .col-md-4 {
 		margin-bottom: 30px;
 	}

 	.page-id-14 #field_1_7 {
 		width: 100px;
 	}

 	.page-id-14 #gform_submit_button_1 {
 		padding: 11px 80px 10px 80px;
 	}

 	.page-id-14 #footer .container {
 		padding-left: 15px;
 		padding-right: 15px;
 	}

 	.page-id-14 .navbar-toggle.collapsed {
 		display: none;
 	}

 }

 

 /* iPhone 6 ----------- */
 @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
 	/* Styles */
 }

 @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
 	
 	.custom-button {
 		font-size: 18px !important;
 		padding: 10px 16px 10px 16px !important;
 	}

 }



 /* iPhone 5 ----------- */
 @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
 	/* Styles */
 }

 @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {

 	.custom-button {
 		font-size: 15px !important;
 		padding: 8px 14px 8px 14px !important;
 	}

 	.navbar-inverse .navbar-brand {
 		width: 220px;
 		padding: 7px 0;
 	}

 	.page-id-14 #gform_submit_button_1 {
 		padding: 11px 50px 10px 50px;
 	}

 }


 /* Samsung Galaxy S5 ----------- */
 @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
 	/* Styles */
 }

 @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {

 	.custom-button {
 		font-size: 15px !important;
 		padding: 8px 14px 8px 14px !important;
 	}

 	.navbar-inverse .navbar-brand {
 		padding: 7px 0;
 	}

 	.page-id-14 #gform_submit_button_1 {
 		padding: 11px 50px 10px 50px;
 	}

 }
